<?xml version="1.0"?>

<model>
  <name> Maze</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>marian</name>
    <email>mc.lepadatu@noxrobotics.nl</email>
  </author>

  <description>
    Basic maze to accompany the dede virtual robot
  </description>
</model>
